:root {
    --custom-black: rgb(15, 1, 1);
}


html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background-color: white;
    background-image: url("./static/photo/default.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

* {
    margin: 0;
    padding: 0;
}

/* NAV */
.search-container input[type=text] { 
    width: 80%;
    -webkit-transition: width 0.2s ease-in-out;
    transition: width 0.2s ease-in-out;
}
  
.search-container input[type=text]:focus {
    width: 100%;
}

.btn {
    margin-left: 10px;
    margin-right: 15px;
}

.form-group {
    margin-bottom: 0;
}

.time {
    margin-left: 10px;
}

.navbar {
    position: fixed;
    background-color: white;
    top: 0;
    width: 100%;
    box-shadow: 1px 1px 2px var(--custom-black);
    z-index: 5;
}


.tt-menu {
    background-color: white;
    width: 100%;
}

.tt-suggestion:hover {
    background-color: lightblue;
}

/* WEATHER CONTAINER */

.weather-container {
    margin-top: 60px;
    color: white;
}

.weather-description {
    background-color: var(--custom-black);
    width: 600px;
}




/* FONT */
.data {
    font-family: 'Roboto Slab', serif;
    color: var(--custom-black);
}

.content {
    font-family: Lato, Montserrat, sans-serif;
}

.timenav strong {
    letter-spacing: 2px;
}




@media all and (max-width:750px) {
    .timenav {
        display:none;
    }
    .search-container input[type=text] { 
        width: 60vw;
    }
    .search-container input[type=text]:focus {
        width: 60vw;
    }
    .btn {
        width: 15vw;
    }
    .row {
        margin: 0 auto;
    }
}