:root {
    --custom-black: rgb(17, 14, 14);
}


html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background-color: white;
    background-image: url("./static/photo/default.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

* {
    margin: 0;
    padding: 0;
}

/* LOADER */
.loader {
    position: absolute;
    top: 40%;
    left: 50%;
}

/* NAV */
.search-container input[type=text] { 
    width: 80%;
    -webkit-transition: width 0.2s ease-in-out;
    transition: width 0.2s ease-in-out;
}
  
.search-container input[type=text]:focus {
    width: 90%;
}

.btn {
    margin-left: 10px;
    margin-right: 20px;
}

.form-group {
    margin-bottom: 0;
}

.time {
    margin-left: 10px;
}

.navbar {
    position: fixed;
    overflow: hidden;
    background-color: white;
    top: 0;
    width: 98%;
    box-shadow: 1px 1px 2px var(--custom-black);
    z-index: 5;
}

.tt-menu {
    background-color: white;
    width: 100%;
}

.tt-suggestion:hover {
    background-color: lightblue;
}

/* WEATHER CONTAINER */

.container {
    text-align: center;
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.weather-container {
    max-width: 90%;
    width: 500px;
    color: white;
    margin: 0 auto;
}

.weather-description {
    background-color: var(--custom-black);
    box-shadow: 0 2px 6px white; 
    border-radius: 5px;
    padding: 10px;
    /* h-offset v-offset blur */
}

.description-additional {
    background-color: var(--custom-black);
    box-shadow: 0 2px 6px white;
    border-radius: 5px;
    padding: 20px;
}

.city-name {
    padding: 10px;
}

.temp-list-wrapper {
    position: relative;
}

.temp-list {
    position: absolute;
    bottom: 20%;
    left: -40%;
    text-align: left;
}

.temp {
    padding-left: 20px;
    padding-right: 10px;
}
.description-wind-humidity {
    line-height: 2;
    margin: auto;
    padding-left: 30px;
}

/* ICON */
.fas {
    color:white;
    padding: 5px;
    line-height: 1;
    margin: auto 0;
}

/* FONT */
.data {
    font-family: 'Roboto Slab', serif;
}

.content {
    font-family: Lato, Montserrat, sans-serif;
}

.timenav strong {
    color: var(--custom-black);
    letter-spacing: 2px;
}

.city-name {
    text-shadow: 1px -1px 1px black;
    font-family: 'Roboto Slab', serif;
}

.temp {
    font-size: 7em;
}

.row {
    flex-wrap: nowrap;
}
/* SLIDER */
.slide2 {
    text-align: center;
    background-color: rgba(255,255,255,0.8);
    justify-content: center;
    height: 68px;
    position: relative;
    top: 200px;
}

@media all and (max-width:767px) {
    /* NAV */
    .timenav {
        display:none;
    }
    .search-container input[type=text] { 
        width: 60vw;
    }
    .search-container input[type=text]:focus {
        width: 60vw;
    }
    .btn {
        width: 15vw;
    }
    .row {
        margin: 0 auto;
    }
    /* CONTAINER */
    .description-wind-humidity {
        padding-left: 5px;
        padding-right: 5px;
    }
    .temp-list {
        position: absolute;
        bottom: 20%;
        left: -20%;
        text-align: left;
    }
    .fas {
        display: none;
    }
}

@media all and (max-width:580px) {
    .second-row {
        display: flex;
        flex-wrap: row;
        flex-direction: column;
    }
    .container {
        width: 100%;
        padding: 0;
    }
    .weather-container {
        border-radius: 0;
        margin: 0;
        min-width: 100%;
    }
    .description-additional {
        border-radius: 0;
        min-width: 300px;
    }
    .temp {
        font-size: 5em;
        margin: auto auto;
    }
    .temp-group {
        padding: 0;
    }
    .temp-list-wrapper {
        display: none;
    }
    .description-wind-humidity {
        width: 100%;
    }
    .weather-icon {
        margin: auto auto;
        padding-top: 15px;
        padding-bottom: 10px;
        width: 100%;
    }
}
